::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
  background-color: #fff;
  margin: 0;
  color: #4F5155;
  overflow: hidden;
}

a {
  color: #003399;
  background-color: transparent;
  font-weight: normal;
}

* {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  font-weight: 400;
}